@model Assignment2.Models.Schedule

@{
    ViewData["Title"] = "Enrol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enrol</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.When)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.When)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoachEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoachEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>

    <form asp-action="Enrol">
        <input type="hidden" asp-for="Id" name="ScheduleId" />
        <input type="submit" value="Enrol" class="btn btn-default" />
    </form>
            
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
